{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"], 
    [
      "module-resolver",
      {
        "alias": {
          "@services": "./src/services",
          "@components": "./src/components",
          "@utils": "./src/utils",
          "@hooks": "./src/hooks",
          "@pages": "./src/pages",
          "@types": "./src/@types"
        }
      }
    ]
  ]
}